@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@font-face {
    font-family: "ZapfHumnst BT";
    src: url("../fonts/ZapfHumanist601BT-Roman.eot");
    src: url("../fonts/ZapfHumanist601BT-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/ZapfHumanist601BT-Roman.woff2") format("woff2"), url("../fonts/ZapfHumanist601BT-Roman.woff") format("woff"), url("../fonts/ZapfHumanist601BT-Roman.svg#ZapfHumanist601BT-Roman") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

header {
    min-height: 100vh;
    background: linear-gradient(#0c0bd1, #0b0b83);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin-top: 30px;
    width: 100%;
}

nav {
    background-color: #0c0bd1;
}

nav a {
    color: aliceblue;
}

nav a:hover {
    color: aqua;
}

.white-text {
    color: aliceblue;
    font-size: 30px;
}

.logo {
    height: 35px;
}

.brand {
    height: 50px;
    overflow: hidden;
}

.brand>p {
    font-size: 0.75rem;
    text-shadow: 0.5px 0.5px white;
}

#overview>p,
#speakers>p {
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    color:blue;
    box-sizing: border-box;
}

.overview>h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: calc(inherit+5px);
}

.overview>div>p {
    width: 90%;
    margin: 0 auto 10px auto;
}

.buttons {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.buttons>button {
    cursor: pointer !important;
    box-sizing: border-box;
    margin: 0 auto;
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2196f3;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.buttons>button:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    text-decoration: underline;
    color: aliceblue;
}

.disable {
    display: none;
    background-color: red;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

.speaker-container {
    padding: 10px;
    background-color: #f7f8fa;
}

.speaker-container>h3 {
    margin-top: 20px;
}

.speaker-container>h3,
.speaker-container>h1 {
    text-align: center;
}

.speakers {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.speaker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px rgba(43, 43, 43, 0.4);
}

.speaker-designation,
.speaker-name {
    width: 100%;
    text-align: center;
}

.speaker-img>img {
    height: 200px;
    width: 200px;
}

.speaker-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}

.speaker-name {
    font-family: "Staatliches";
    font-weight: 500;
    font-size: 1.375rem;
}

.text-underline {
    text-decoration: underline;
}

.top {
    display: block;
    position: sticky;
    float: right;
    bottom: 15px;
    right: 15px;
    background-color: #2196f3;
    padding: 5px;
    border-radius: 25px;
    color: black;
    z-index: 1;
}

footer {
    background-color: rgba(20, 20, 20, 0.8);
    padding: 1rem;
    color: rgb(172, 198, 221);
}

.footer li {
    list-style-type: none;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.footer>div {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.footer a {
    color: rgb(172, 198, 221);
}

.footer a:hover {
    color: rgb(97, 231, 7);
}

.color {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 3.5rem;
    font-weight: bold;
    flex-direction: column;
    font-family: "ZapfHumnst BT";
    overflow: hidden;
}

.color2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.6rem;
    font-weight: bold;
    flex-direction: column;
    font-family: "ZapfHumnst BT";
}

.bg-color {
    background-color: #0000ff;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    text-align: center;
}

.bg-color2 {
    background-color: #ebee2b;
    color: #0b0b83;
    border-radius: 10px;
    font-size: 3rem;
    padding: 2px 20px 2px 20px;
    text-align: center;
}

.bg-color3 {
    background-color: #06065e;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    text-align: center;
}

.blue {
    min-height: 65vh;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue span {
    margin-bottom: 10px;
}

.department {
    text-align: center;
    width: 100%;
}

.collegeName {
    width: 50%;
    min-width: 300px;
    display: block;
    margin: 8vh auto;
}

.howToAttend-container {
    text-align: center;
    padding: 1rem;
}

.howToAttend {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.attend {
    height: 300px;
    width: 400px;
    margin-top: 10px;
    background-color: rgba(0, 60, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.attend>img {
    height: 100px;
    width: 100px;
}

main {
    background-color: rgba(240, 240, 240, 0.2);
}

.commitee-container>h2 {
    text-align: center;
}

.image>img {
    position: absolute;
    width: inherit;
    height: 150vh;
    top: 0;
    right: 0;
}

.department,
.bg-color,
.bg-color2,
.bg-color3 {
    z-index: 100;
}

@media only screen and (max-width: 1000px) {
    .image>img {
        display: none;
    }
}

th,
td {
    text-align: center;
}

th {
    color: white;
}

.committee {
    width: 90%;
    margin: 20px auto;
    border-left: 0.3px solid rgba(17, 17, 17, .3);
    border-right: 0.3px solid rgba(17, 17, 17, .3);
}

.table {
    background-color: white;
}

.commitee-container {
    padding-bottom: 20px;
}

.map {
    box-sizing: border-box;
}

.map>h3 {
    text-align: center;
    margin-bottom: 40px;
}

iframe {
    max-width: 100%;
    height: 300px;
}

#expert,
#keynote,
#panel,
#mous,
#exhibts,
#commitee {
    height: 65px;
}