.collegeName {
    width: 90%;
    height: auto;
}

.color {
    font-size: 2.6rem;
}

.buttons {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.buttons>button {
    width: 100px;
}

.overview {
    font-size: 17px
}

.bg-color3 {
    font-size: 1.2rem;
}

.bg-color2 {
    font-size: 2rem;
}

.department {
    text-align: center;
    font-size: 1.2rem;
}

.blue {
    letter-spacing: 2px;
}

.footer>div:nth-child(2) {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

.committee {
    overflow: auto;
}

.aihack>div {
    width: 85%;
}

.aihack-image {
    display: none;
}

.hideInMobile {
    display: none;
}

.aihack li {
    text-align: left;
    font-size: 1.1rem;
    line-height: 2.4rem;
    list-style-type: none;
}

ul li {
    text-indent: 0.2em;
}

.hideInLarge {
    display: block;
}

.hideInLarge>li {
    position: static;
    text-align: center;
}

.mous-text {
    width: 90%;
    margin: 40px auto;
    list-style-type: none;
    font-family: 'Raleway';
    font-size: 1.1rem;
    line-height: 2.4rem;
}